@font-face {
    font-family:"Comics";
    src: url("comics.ttf")
}

.myButton {
	background-color:#ff4d00;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Comics";
	font-size:30px;
	padding:8px 36px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#ff692e;
}
.myButton:active {
	/*position:relative;*/
	/*top:1px;*/
}

.menubutton {
	z-index:7;
	margin: 20px;
}

.myButtonGrey {
	background-color:#8f8f8f;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Comics";
	font-size:30px;
	padding:8px 36px;
	text-decoration:none;
}

#lobbybutton:focus {
	background-color: red;
}

