
body {
	background-image: url(tempbackground.png);
	background-size: cover;
}

p{
	/*margin-top:200px;*/
	margin-left: 30px;
	margin-right:30px;
	text-align: center;
	font-size: 40px;
	font-family:"Comics";
}

#firstpara {
	margin-top:100px;
}

#center {
	margin: auto;
}

#container {
	margin: auto;
	width: 600px;
	height: 800px;
}

.menubutton {
	/*text-align: center;
	width:100px;
	/*height: 60px;*/
	/*position:absolute;
	left:15px;
	top:15px;*/
}
