p {
        margin-left: 30px;
        margin-right:30px;
        margin-top:0px;
        text-align: center;
        font-size: 17pt;
        font-family:"Comics";
}

p#rooms {
        font-family:"Comic Sans MS";
}

#whitebox {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
        min-height: 300px;
        background-color: rgba(255,255,255,.50);
        border-radius: 10px;
        text-align: center;
}

h3 {
        font-family:"Comic Sans MS";
        text-align: center;
}

h2 {
        font-family: "Comics";
        padding: 10px;
}
div {
        text-align: center;
}
