@font-face {
    font-family:"Comics";
    src: url("comics.ttf");
}

#tweetme {
    font-family:"Comics";
    src: url("comics.ttf");
	width: 300px;
	height: 40px;
	margin :50px;
	padding:8px 36px;
}

body {
	background-image: url(tempbackground.png);
	background-size: cover;
	font-family:"Comics";
	/*background-image: url("gui_hole1.png");*/
		user-select:none;
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
}

#myCanvas {

	background-image: url("gui_hole1.png");
}

p {
	font-size:20pt;
	float: right;
	background-color: white;
	/*height: 50px;*/
	margin: 30px;
	padding:10px;
}