/*#background {
	background-image: url(tempbackground.png);
	background-size: cover;
} */

#start {
	margin: 50px;
	float: left;
}

#multiplayer {
	margin: 50px;
	float: right;
}

#tutorial {
	margin: 40px;
	float: right;
}

#instructions {
	margin: 40px;
	float: left;
}

body {
	background-image: url(tempbackground.png);
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family:"Comics";
}

#center {
	margin: auto;
}

#container {
	margin: auto;
	width: 600px;
	height: 800px;
}
