
body {
	background-image: url(Tutorialbackground.png);
	/*background-size: cover;*/
	width: 1280;
	height: 720;
	background-repeat: no-repeat;
	background-color: #00ADEF; 	
}

p{
	/*margin-top:200px;*/
	margin-left: 30px;
	margin-right:30px;
	text-align: center;
	font-size: 16pt;
	font-family:"Comics";
	background-color: rgba(255,255,255,.65);
	border-radius: 5px;
}

#nextbtn {
	position:relative;
	margin:20px;
	/*top:30px;
	/*left: 200px;*/
}

#para1 {
	position:absolute;
	text-align: center;
	left: 360px;
	top:100px;
}

#para2 {
	visibility: hidden;
	position: absolute;
	top:350px;
	left: 200px;
}

#para3 {
	visibility: hidden;
	position: absolute;
	top:470px;
	left:220px;
}

#para4 {
	visibility: hidden;
	position:absolute;
	top:440px;
	left:730px;
}

#para5 {
	visibility: hidden;
	position:absolute;
	top:450px;
	left:540px;
}

#para6 {
	visibility: hidden;
	position: absolute;
	top:360px;
}

#para7 {
	visibility: hidden;
	position: absolute;
	top:60px;
	left:650px;
}

#para8 {
	visibility: hidden;
	position: absolute;
	top:60px;
	left:505px;
}

#para9 {
	visibility: hidden;
	position: absolute;
	top:60px;
	left:690px;
}

#para10 {
	visibility: hidden;
	position: absolute;
	top:60px;
	left:910px;
}

#para11 {
	visibility: hidden;
	position: absolute;
	top:200px;
	left:350px;
}